@import "../../css-config/mixins.scss";

.footer{
    width: 100%;
    .footer-content{
        padding: 50px 20px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-flow: wrap;
        gap: 20px;
        @include md{
            padding-inline: 0;
            justify-content: space-between;
        }
        .col{
            max-width: 300px;
            .title{
                margin-bottom: 20px;
                font-size: 20px;
            }
            .text{
                font-size: 14px;
                color: rgba(0,0,0,0.5);
                a{
                    text-decoration: none;
                }
                .read-more{
                    border: none;
                    outline: none;
                    background: none;
                    color: #8628e2;
                    font-weight: bolder;
                    cursor: pointer;
                }
            }
            .c-item{
                display: flex;
                margin-bottom: 10px;
                svg{
                    font-size: 14px;
                    color: rgba(0,0,0,0.5);
                    margin-right: 10px;
                    margin-top: 4px;
                    flex-shrink: 0;
                }
            }
            span{
                &.text{
                    display: block;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
    }
    .bottom-bar{
        border-top: 1px solid rgba(0,0,0,0.1);
        .bottom-bar-content{
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            text-align: center;
            .text{
                font-size: 12px;
                color: rgba(0,0,0,0.5);
            }
            @include md{
                padding: 0;
                height: 60px;
                max-width: 1200px;
                margin: 0 auto;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
            }
        }
    }
}